!!!
%html
%head
  %title Tasks
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  .navbar.navbar-static-top.navbar-inverse
    .navbar-inner
      %a.brand{href: "#{root_path}"} Tasks
      %ul.nav
        %li.active
          %a{href: "#"} Home
        %li
          %a{href: "#"} Link
        %li
          %a{href: "#"} Link

  .container
    - flash.each do |type, message|
      %div{class: "alert #{flash_class type}"}
        %button.close{"data-dismiss" => "alert"} x
        = message

    - unless user_signed_in?
      = render 'login'
    - else
      = yield
